<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--The following are the test environment related value.-->
		<add key="GenderDebias_Endpoint_prod" value="https://gender-debias-translate.eastus2.inference.ml.azure.com/score" />
		<add key="GenderDebias_Key_prod" value="gdb-aml-prod-eus-secret" />

		<add key="GenderDebias_Endpoint_int" value="https://int-gender-debias-translate.westus.inference.ml.azure.com/score" />
		<add key="GenderDebias_Key_int" value="gdb-aml-int-secret" />

		<add key="GenderDebias_Endpoint_dev" value="https://dev-gender-debias-translate.westus.inference.ml.azure.com/score" />
		<add key="GenderDebias_Key_dev" value="gdb-aml-dev-secret" />

		<add key="GenderDebias_Endpoint_prodeu" value="https://gender-debias-translate.northeurope.inference.ml.azure.com/score" />
		<add key="GenderDebias_Key_prodeu" value="gdb-aml-prod-eu-secret" />

		<add key="GenderDebias_Endpoint_prodapc" value="https://gender-debias-translate.koreacentral.inference.ml.azure.com/score" />
		<add key="GenderDebias_Key_prodapc" value="gdb-aml-prod-apc-secret" />		
	</appSettings>
</configuration>
